<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/credit.css">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="top">
        <h2>LOTTERY4U</h2>
        <h3><i>"ALL-TIME AVAILABLE"</i></h3>
    </div>
    <hr>
    <div class="table-menu">
        <table>
            <tr>
                <td>
                    <h4><a href="/">CHECK HERE!</a></h4>
                </td>
                <td>
                    <h4><a href="/otherprizes.ejs">OTHER PRIZES</a></h4>
                </td>
                <td>
                    <h4><a href="/credit.ejs">CREDITS</a></h4>
            </tr>
        </table>
    </div>
    <hr><!-- ขีดเส้น -->
    <div class="table-content">
        <table>
            <tr>
                <th><h5>Create By</h5><!-- กำหนดชื่อหัวตาราง -->
                    <p class="creater"> 
                       Rachanon Phoyu
                    </p>
                    <p>ID NUMBER : 1630901211</p>
                </th>
                <th>
                    <p><img src="/RCN.jpg" alt="Bond" style="width: 65%;"></p><!-- เรียกFileรูปภาพมาแสดง -->
                </th>
            </tr>
        </table>
    </div>
    <hr>
    <p class="p-Footer">© 2022 LeyBond_Series</p>
    <p class="p-Footer">Bangkok University</p>
    <hr>
</body>
</html>