<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otherprizes</title>
    <link rel="stylesheet" href="/otherprizes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="top">
         <h2>LOTTERY4U</h2>
        <h3><i>"ALL-TIME AVAILABLE"</i></h3>
    </div>
    <hr>
    <div class="table-menu">
        <table>
            <tr>
                <td>
                    <h4><a href="/">CHECK HERE!</a></h4>
                </td>
                <td>
                    <h4><a href="/otherprizes.ejs">OTHER PRIZES</a></h4>
                </td>
                <td>
                    <h4><a href="/credit.ejs">CREDITS</a></h4>
            </tr>
        </table>
    </div>
    <hr>
    <div class="table-content">
        <table>
            <tr> <th><h5>PRIZE 16/04/2563</h5>
                <p class="check">  
                    <label><b>รางวัลที่1!! </b>:</label>
                    <button>ยืนยัน</button>
            <input type="text" name="16march" value="">
                </p>
                <hr>
                <p><label><b>2ตัวท้าย!! </b>:</label>
                    <button>ยืนยัน</button>
                    <input type="text" name="1april" value=""></p>
                    
                    <hr>
                    <p><label><b>1ตัวท้าย!! </b>:</label>
                        <button>ยืนยัน</button>
                        <input type="text" name="16april" value=""></p>
            </th>
        
        
            <th><h5>PRIZE 16/04/2563</h5>
                <p class="check">  
                    <label><b>รางวัลที่1!! </b>:</label>
                    <button>ยืนยัน</button>
            <input type="text" name="16march" value="">
                </p>
                <hr>
                <p><label><b>2ตัวท้าย!! </b>:</label>
                    <button>ยืนยัน</button>
                    <input type="text" name="1april" value=""></p>
                    <hr>
                    <p><label><b>1ตัวท้าย!! </b>:</label>
                    <button>ยืนยัน</button>
                    <input type="text" name="16april" value=""></p>
            </th>
            <th id="th-Details">
                <h5>PRIZE 16/04/2563</h5>
                <p class="check">  
                    <label><b>รางวัลที่1!! </b>:</label>
                    <button>ยืนยัน</button>
            <input type="text" name="lastnumaward" value="">
                </p>
                <hr>
                <p><label><b>2ตัวท้าย!! </b>:</label>
                    <button>ยืนยัน</button>
                    <input type="text" name="1april" value=""></p>
                    <hr>
                    <p><label><b>1ตัวท้าย!! </b>:</label>
                        <button>ยืนยัน</button>
                        <input type="text" name="16april" value=""></p>
            </th>
        </tr>
              
            
        </table>
    </div>
    <hr>
    <p class="p-Footer">© 2022 LeyBond_Series</p>
    <p class="p-Footer">Bangkok University</p>
    <hr>
</body>
</html>